* {
  max-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 15s ease infinite;
  height: 100vh;
  padding: 50px 10px;
}

.to-do-list {
  border-radius: 0.3rem;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  background-color: #fff;
}

#header {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  border-bottom: 0.5px solid #000;
}

.todo-topic {
  width: 94%;
}

#refresh-icon {
  width: 6%;
}

/*
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#add-items {
  display: flex;
  padding: 5px 0;
  border-bottom: 0.5px solid #000;
}

#add-item {
  width: 90%;
  padding: 0 ;
}

#add-icon {
  padding: 0 10px;
  font-size: 20px;
  font-weight: 900;
}

input {
  border: none;
}

#list-items {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
  gap: 5px;
  border-bottom: 0.5px solid #000;
  list-style: none;
}

.inner-item {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px 0;
  width: auto;
  gap: 12px;
  background-color: #ddd;
}

#checkbox {
  margin-left: 10px;
}

#todo-item {
  padding: 0;
  /* border-bottom: 0.5px solid #000; */
  width: 80%;
  background-color: transparent;
}

#ellipsis-icon {
  position: absolute;
  right: 41px;
  cursor: pointer;
  margin-right: 0;
}

#remove-icon {
  z-index: 3;
  padding-right: 15px;
  cursor: pointer;
}

button {
  border: none;
  padding: 10px;
  background-color: #ddd;
}

@media screen and (min-width: 768px) {
  #add-item {
    width: 93%;
  }

  #add-icon {
    width: 5%;
  }
}
